
body {
  font-family: Arial, sans;
}

@media screen and (orientation:portrait) { 
    body {
        font-size: 7mm; 
    }
}

@media screen and (orientation:landscape) { 
    body {
        font-size: 5mm; 
    }
}

div.column {
  width: 50ch;
  margin-left: auto;
  margin-right: auto;
}

.permalink {
    font-style: italic;
}